ACTION=="add", SUBSYSTEMS=="usb", SUBSYSTEM=="block", ENV{ID_FS_USAGE}=="filesystem", RUN{program}+="/bin/mkdir /mnt/%k", RUN{program}+="/usr/bin/systemd-mount --no-block --collect /dev/%k /mnt/%k"
ACTION=="remove", SUBSYSTEMS=="usb", SUBSYSTEM=="block", ENV{ID_FS_USAGE}=="filesystem", RUN{program}+="/usr/bin/systemd-umount /mnt/%k", RUN{program}+="/bin/rmdir /mnt/%k"
