[Unit]
Description=Configure network based on /boot/config.txt
Requires=network-pre.service systemd-networkd.service
Before=network-pre.service systemd-networkd.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/panda-config

[Install]
WantedBy=sysinit.target
