[Unit]
Description=PandABlocks FPGA loading service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/bin/panda-load-firmware
ExecStartPost=/sbin/modprobe panda

[Install]
WantedBy=sysinit.target
